[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
django = "*"
pandas = "*"
openpyxl = "*"
openai = "*"
pdfplumber = "*"
pytesseract = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
